*.log
*.o
*.old
*~
*.deps/
/autom4te.cache/
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
thinkhdd
INSTALL
debian/files
debian/thinkhdd.substvars
debian/thinkhdd.postinst.debhelper
debian/thinkhdd.postrm.debhelper
debian/thinkhdd.prerm.debhelper

